@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Montserrat:wght@300&display=swap');
@import "./css/base.css";
@import "./css/components.css";
@import "./css/layout.css";



/** Hero section **/
#hero {
    background-image: linear-gradient(180deg, #012E40, #00010D);
    color: white;
}

.hero {
    text-align: center;
}



/** About section **/
.about {
    flex-direction: column;
}

.about-info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-img {
    margin-top: 20px;
    width: 70%;
}

.about-skills, .about-services {
    margin-top: 20px;
    padding: 20px 0;
    width: 100%;
    border-bottom: 2px solid gray;
}

.skill-icon {
    display: flex;
    margin-bottom: 30px;
}

.skill-item {
    height: 50px;
    width: 50px;
    margin: 0 5px;
}



/** projects section **/
#projects{
    background-color: #f2f2f2;
}

.projects {
    flex-direction: column;
    max-width: 1200px;
    padding: 50px 20px;
    margin: 0 auto;
}

.projects-header {
    margin-bottom: 50px;
}

.all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.project-item {
    border-bottom: 2px solid gray;
    
}

.project-info {
    margin-top: 20px;
}

.project-img {
    margin: 0 auto;
    height: 150px;
    width: 80%;
    margin-top: 20px;
    background-color: green;
    overflow: hidden;
}

.project-bottom {
    margin: 20px 0;
}



/** contact section**/
.contact {
    flex-direction: column;
}

.contact-info {
    margin-top: 20px;
    padding: 30px 20px;
    background-color: #012E40;
    color: white;
}

.contact-email {
    margin: 10px 0;
}

.contact-email , .contact-phone {
    display: flex;

}

.contact-email a, .contact-phone a {
    color: white;
}

.email-icon, .phone-icon {
    height: 40px;
    width: 40px;
    margin: 0 5px;
}




/** footer section **/
#footer {
    background-color: #00010D;
    color: white;
}

.footer {
    flex-direction: column;
    min-height: 200px;
    padding-top: 50px;
    padding-bottom: 10px;
}

.social-icons {
    display: flex;
    margin-bottom: 20px;
}

.social-icon {
    height: 40px;
    width: 40px;
    margin: 0 5px;
}

.social-icon span {
    color: white;
}
